#page1_jPanel1 {
    background: #66E485;
}

#page1_jIconfont1 {
    font-size: 24px;
    color: #FFFFFF;
}

#page1_jPanel4 {
    background: #FFFFFF;
}

#page1_jLabel2 {
    font-size: 12px;
    color: #666666;
}

#page1_jLabel3 {
    font-size: 14px;
    text-align: right;
}

#page1_jLabel4 {
    font-size: 12px;
    color: #666666;
}

#page1_jLabel5 {
    font-size: 14px;
    text-align: right;
}

#page1_jLabel6 {
    font-size: 12px;
    color: #666666;
}

#page1_jLabel7 {
    font-size: 14px;
    text-align: right;
}

#page1_jLabel8 {
    font-size: 12px;
    color: #666666;
}

#page1_jLabel9 {
    font-size: 14px;
}

#page1_jPanel3 {
    min-height: 66px;
}

#page1_jLabel10 {
    font-size: 14px;
    color: #808080;
}

#page1_jImages1 {
    height: 66px;
    width: 66px;
}

#page1_jPanel2 {
    width: 3%;
    min-height: 66px;
}

#page1_jLabel11 {
    font-size: 16px;
}

#page1_jLabel12 {
    font-size: 14px;
    color: #808080;
}

#page1_jLabel13 {
    font-size: 12px;
    color: #FFB13A;
}

#page1_jLabel1 {
    font-size: 18px;
    color: #FFFFFF;
}

